@model WeaponStatViewModel
@{
    ViewData["Title"] = "Custom Stats";
}

	<div class="text-center">
		<h1 class="display-4">Welcome to KP Tools!</h1>
		<p>You will be able to select your weapons and change various stats which will let you preview your overall weapon stats!</p>

		<div class="card bg-light mb-3 mx-auto" style="max-width: 18rem;">
			<div class="card-header">Pick your weapons!</div>
			<div class="card-body">
				<div class="input-group mb-3">
					<select class="custom-select" id="inputGroupSelect1">
						<option disabled selected>1st Weapon</option>
						@foreach (Weapon weapon in Model.AllWeapons)
						{
							<option class="dropdown-item" href="#">@Html.DisplayFor(modelWeapon => weapon.WeaponName)</option>
						}
					</select>
				</div>
				<div class="input-group mb-3">
					<select class="custom-select" id="inputGroupSelect2">
						<option disabled selected>2nd Weapon</option>
						@foreach (Weapon weapon in Model.AllWeapons)
						{
							<option class="dropdown-item" href="#">@Html.DisplayFor(modelWeapon => weapon.WeaponName)</option>
						}
					</select>
				</div>
				<button>Apply</button>
			</div>
		</div>
		<div class="row">
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Weapon Skin</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Top Piece</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Bottom Piece</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Undergarments</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Right Hand</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Left Hand</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Shoes</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Hair - Top</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Hair - Bottom</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Face - Top</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Face - Bottom</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Neck</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Back</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
			<div class="card bg-light mb-3 mx-auto card-columns" style="max-width: 18rem;">
				<div class="card-header">Belt</div>
				<div class="card-body">
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect1">
							<option disabled selected>1st Stat</option>

						</select>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="inputGroupSelect2">
							<option disabled selected>2nd Stat</option>

						</select>
					</div>
				</div>
			</div>
		</div>
	</div>


